@font-face {
    font-family: 'capture_itregular';
    src: url('../fonts/Capture_it-webfont.eot');
    src: url('../fonts/Capture_it-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Capture_it-webfont.woff') format('woff'), url('../fonts/Capture_it-webfont.ttf') format('truetype'), url('../fonts/Capture_it-webfont.svg#capture_itregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'colaborate-thinregular';
    src: url('../fonts/ColabThi-webfont.eot');
    src: url('../fonts/ColabThi-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ColabThi-webfont.woff2') format('woff2'), url('../fonts/ColabThi-webfont.woff') format('woff'), url('../fonts/ColabThi-webfont.ttf') format('truetype'), url('../fonts/ColabThi-webfont.svg#colaborate-thinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'advent-pro';
    src: url('../fonts/advent-pro.light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.headerContainer {
    height: 50px;
    width: 100%;
    margin: 0;
    background: linear-gradient(to right, #184ec8, #155dc8, #256bc5, #3b77c1, #5283bb);
}

.levelContainer,
.scoreContainer {
    width: 40%;
    float: left;
    height: 100%;
    display: inline-block;
    font-size: 25px;
    color: #fff;
    line-height: 50px;
    text-indent: 20px;
}

.scoreContainer {
    width: 45%;
    text-align: right;
    padding: 0 10px;
}

.life {
    width: 20%;
    height: 100%;
    display: inline-block;
    float: left;
    background-image: url(./../icons/heart1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
}

/* .life.uheart {
    background-image: none;
} */

.lifeDescImg {
    background-image: url("./../screenshots/life.png");
    height: 40px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.powerBtnDescImg {
    background-image: url("./../screenshots/power_buttons.png");
    height: 140px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

li {
    list-style: none;
    padding: 15px;
}

.descHeader {
    height: 7%;
}

.descSkip {
    font-size: 32px;
    float: right;
    margin: 10px;
    color: beige;
}

.level,
.scoreCard {
    margin: 0;
}

.level {
    height: 45px;
    overflow: hidden;
    display: inline-block;
}

body {
    margin: 0px;
    background-color: #E8EAF6;
}

.container-fluid {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.bodyContainer {
    height: calc(100% - 150px);
    margin: 0;
    width: 100%;
    background-color: #E8EAF6;
    /* transition: all 0.5s; */
}

.directionLblCont {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: white;
    border-radius: 50%;
    transition: all cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s;
}

.directionButtonCont {
    width: 100%;
    height: 100%;
    margin: 0;
    background: linear-gradient(to right, #184ec8, #155dc8, #256bc5, #3b77c1, #5283bb);
}

.directionButtonCont table {
    width: 100%;
    height: 100%;
}

.pointer {
    border-bottom: 20px solid red;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 0;
    left: 0;
    width: 0;
}

.base {
    background: red;
    display: inline-block;
    height: 20px;
    float: left;
    position: relative;
    width: 20px;
    top: 20px;
    left: -10px;
}

.footerContainer.row {
    height: 100px;
    width: 100%;
    margin: 0;
    position: absolute;
    bottom: 0px;
}

.arrow.directionBtn {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}

.arrow.up.directionBtn,
.arrow.down.directionBtn.inverseLevel {
    background-image: url("./../icons/up.png");
}

.arrow.right.directionBtn,
.arrow.left.directionBtn.inverseLevel {
    background-image: url("./../icons/right.png");
}

.arrow.down.directionBtn,
.arrow.up.directionBtn.inverseLevel {
    background-image: url("./../icons/down.png");
}

.arrow.left.directionBtn,
.arrow.right.directionBtn.inverseLevel {
    background-image: url("./../icons/left.png");
}

.arrow.directionBtn.timer,
.arrow.directionBtn.timer.inverseLevel {
    background-image: none;
    pointer-events: none;
}

.directionButtonCont .arrow.directionBtn {
    width: calc(100% / 3);
    height: 100%;
    display: inline-block;
    float: left;
    color: #fff;
    font-size: 25px;
    text-align: center;
    line-height: 100px;
}

.directionButtonCont .center.directionBtn {
    width: calc(100% / 3);
    height: 100%;
    display: inline-block;
    float: left;
}

.directionButtonCont .center .arrow.directionBtn {
    width: 100%;
    height: 50%;
    line-height: 50px;
}

/* .arrow.up.directionBtn.inverseLevel {
    background-image: url("./../icons/down.png");
}

.arrow.right.directionBtn.inverseLevel {
    background-image: url("./../icons/left.png");
}

.arrow.down.directionBtn.inverseLevel {
    background-image: url("./../icons/up.png");
}

.arrow.left.directionBtn.inverseLevel {
    background-image: url("./../icons/right.png");
} */

.directionLblCont .arrow.directionBtn {
    background-color: transparent;
}

.directionButtonCont .arrow.directionBtn {
    background-size: 30%;
}

#game-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 1000;
    display: none;
}

.introContainer {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1000;
    top: 0;
    color: #FFF;
    right: 0;
    background-image: linear-gradient(to right bottom, #185ec8, #5f5fca, #8860c9, #a861c5, #c463c0);
}

.appBanner {
    height: 100px;
    font-size: 40px;
    font-weight: 100;
    color: #FFF;
    width: 100%;
    line-height: 100px;
    text-align: center;
    top: 125px;
    letter-spacing: 7px;
    position: absolute;
    font-family: 'capture_itregular';
    -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
    -moz-animation: neon2 1.5s ease-in-out infinite alternate;
    animation: neon2 1.5s ease-in-out infinite alternate;
    text-indent: 10px;
}

.play {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: url(./../icons/play1.png);
    background-repeat: no-repeat;
    background-size: 69%;
    margin: 0 auto;
    border: 2px solid #fff;
    background-position-x: 25px;
    background-position-y: 15px;
}

.rotate {
    animation-name: rotation;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 5s;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
}

.settings {
    font-size: 25px;
    color: #FFF;
}

.cogContainer {
    float: right;
}

.highScoreCont {
    height: 100%;
    font-size: 30px;
    width: 50%;
    display: inline-block;
}

span.highScore {
    vertical-align: middle;
}

.settingsIconContainer {
    float: right;
    font-size: 40px;
    color: white;
    width: 250px;
    height: 80px;
    bottom: 150px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#myModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    width: 200px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    z-index: 1001;
    font-size: 50px;
    border-radius: 50%;
    display: none;
}

#continueBtn {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 1000;
    text-align: center;
    font-size: 70px;
    color: white;
}

.introHeader {
    height: 45px;
    width: 100%;
    line-height: 45px;
    text-align: right;
}

.highScoreLbl,
.highscoreIcon {
    margin-right: 10px;
    display: inline-block;
    float: right;
    line-height: 40px;
    height: 100%;
}

.highscoreIcon {
    background: url(./../icons/highscore.png);
    width: 30px;
    height: 45px;
    margin: 0;
    display: inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right;
}

span#setMusic,
span#exit {
    height: 65px;
    width: 65px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    margin: 7px 25px;
}

#setMusic.volume-on.music,
#setMusic.volume-off.music,
#exit.exit {
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #fff;
}

#gameOverWrapper #share {
    background-image: url("./../icons/share.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    background-color: transparent !important;
}

#setMusic.volume-off {
    background-image: url("./../icons/volume_off1.png");
}

#setMusic.volume-on {
    background-image: url("./../icons/volume_on1.png");
}

#exit {
    background-image: url("./../icons/exit1.png");
}

.scoreLable,
.levelLable {
    height: 45px;
    width: 50%;
    margin: 0;
    line-height: 45px;
}

#playWrapper {
    width: 200px;
    height: 100px;
    margin: 10px 0;
    top: 45%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 10000;
}

#playWrapper.pause {
    top: 30%;
}

div#homebtn {
    width: 75px;
    height: 75px;
    position: absolute;
    background-image: url("./../icons/home1.png");
    background-repeat: no-repeat;
    background-size: 60%;
    top: 50%;
    left: 50%;
    background-position: center;
    border-radius: 50%;
    z-index: 10001;
    transform: translate(-50%, -50%);
    border: 2px solid #fff;
}

div#levelWrapper {
    position: absolute;
    width: 100%;
    height: 45px;
    top: 45%;
    z-index: 10001;
    font-size: 40px;
    font-weight: bold;
    overflow: hidden;
    font-style: italic;
    text-align: center;
    pointer-events: none;
    left: 50%;
    transform: translate(-50%, -50%);
}

#gameOverWrapper {
    width: 300px;
    height: 200px;
    position: absolute;
    z-index: 100005;
    background: linear-gradient(to right, #184ec8, #155dc8, #256bc5, #3b77c1, #5283bb);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

div#HighScoreWrapper,
div#ScoreWrapper {
    height: 45px;
    line-height: 45px;
    width: 100%;
}

div#btnContainer {
    width: 100%;
    height: 110px;
}

div#btnContainer {
    width: 100%;
    height: 110px;
}

div#replay,
div#share,
div#home {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 2px solid #fff;
    top: 20%;
    position: relative;
    left: 0%;
    float: left;
    margin: 0 17px;
    cursor: pointer;
}

div#replay {
    background-image: url("./../icons/replay1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}

div#home {
    background-image: url("./../icons/home1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
}

.pauseIcon {
    width: 15%;
    height: 50px;
    background-image: url(./../icons/pause1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    display: inline-block;
    float: left;
}

.lifeContainer {
    height: 100%;
    display: inline-block;
    float: left;
    width: 40%;
}

div#exit {
    background-image: url("./../icons/exit.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
}

#powerBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 105px;
    display: none;
}

.ceyoneLogoContainer {
    height: 100%;
    width: 100%;
    background-color: #263238;
    position: absolute;
    z-index: 100006;
    font-size: 34px;
    color: #B0BEC5;
    font-family: 'advent-pro';
    top: 0;
    left: 0;
}

span.orgName {
    display: inline-block;
}

.solidDirection {
    transform: scale(1.5);
}

.powerBtn {
    background-color: #1976D2;
    width: 45px !important;
    height: 100%;
    line-height: 45px;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 5px;
}

.disabled {
    opacity: 0.2 !important;
    pointer-events: none;
}

span.directionFirstLetter {
    font-size: 25px;
}

.powerBtnDescCont {
    display: none;
}

div#dangerZone {
    position: absolute;
    width: 100%;
    height: 45px;
    bottom: 110px;
    background-color: red;
    box-shadow: 0px 0px 10px 10px #f00;
    animation: blink 2s linear infinite;
    pointer-events: none;
}

.descContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10005;
    background: linear-gradient(to right bottom, #23e3a0, #00d3e2, #00b8ff, #008bff, #c320e5);
    display: none;
}

.description {
    height: 75%;
    width: 100%;
    font-size: 21px;
    color: white;
    padding: 15px;
    overflow-y: auto;
}

.descNextBtn {
    float: right;
    width: 100px;
    height: 50px;
    line-height: 45px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 10px 10px;
    font-size: 32px;
    color: white;
}

.levelProgressBar {
    width: 0%;
    height: 4px;
    background: linear-gradient(to right, #68f90a, #00e0a4, #00baff, #0087ff, #5d15e5);
    transition: all 0.3s;
}

div#ceyoneLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 37px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    width: 200px;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .1;
    }
    75% {
        opacity: .2
    }
    100% {
        opacity: .3;
    }
}

.slideInandOut {
    animation: zoomInandOut 2s;
    transition: zoomInandOut 2s;
}

@-webkit-keyframes neon2 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
}

@keyframes rotation {
    0% {
        transform: rotate3d(0, 1, 0, 0deg);
    }
    50% {
        transform: rotate3d(0, 1, 0, 180deg);
    }
    100% {
        transform: rotate3d(0, 1, 0, 360deg);
    }
}

@keyframes zoomInandOut {
    0% {
        left: -50%;
        opacity: 0;
    }
    25%,
    75% {
        left: 50%;
        opacity: 1;
    }
    100% {
        left: 150%;
        opacity: 0;
    }
}